################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f4c179dc-413a-488b-94bc-0c717a45e680.vsidx
